<h1><%= @project.title %></h1>

<ul>
  <% @project.tasks.each do |task| %>
  <li>
    <%= check_box_tag '', '', task.done, {'data-id' => task.id, 'data-project_id' => task.project.id} %>
    <%= task.title %>
  </li>
  <li>
    <%= link_to '削除', project_task_path(task.project_id, task.id), method: :delete, data: { confirm: "本当に消してもいいですか？" }, class: 'btn btn-danger' %>
  </li><br><br>
  <% end %>
  <li>
    <%= form_for [@project, @project.tasks.build] do |f| %>
    <div class="panel panel-default">
      <div class="form-group">
        <%= f.label 'タスク入力' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
    <%= f.submit 'タスク入力', class: 'btn btn-success' %>
    <% end %>
  </li>
</ul>

<script>
$(function() {
    $("input[type=checkbox]").click(function() {
        $.post('/projects/xxx/tasks/xxx/toggle');
    });
});
</script>
